<div class="main-layout-container">
	<jje-nav></jje-nav>
	<script src="components/nav/nav.js" type="module"></script>
	<div class="main-layout-container--content">
		<div class="nav-toggle-switch">
			<jje-icon name="reorder"></jje-icon>
		</div>
		<div class="content-main-logo-container">
			<a href="#/">
				<img class="main-logo" src="assets/images/logo.png" alt="Jay Jackson Entertainment Logo">
			</a>
		</div>
		<div class="box2">
			<div class="content-container"></div>
		</div>
	</div>
	<div class="content-overlay"></div>
</div>
